<?php

return array(
    'EnliteSlowLog' => array(
        // service manager alias
        // accept zend logger and psr-3 logger like monolog
        'logger' => 'EnliteMonologService',
        // in milliseconds
        'threshold' => 1000
    )
);